.logoContainer {
  position: absolute;
  left: 2rem;
  top: 2rem;
}
.logo {
  width: 15vw;
  max-width: 6.5rem;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}
.search {
  width: 22rem;
  max-width: 50vw;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -1rem;
}
.title {
  font-size: 2rem;
  color: #392e2e;
  font-weight: 500;
  text-align: center;
}
.subtitle {
  font-size: 1.4rem;
  color: #392e2e;
  font-weight: 300;
  text-align: center;
  margin-top: 0.7rem;
}
.button {
  cursor: pointer;
  font-size: 1rem;
  color: #392e2e;
  font-weight: 300;
  text-align: center;
  background-color: #02a9ab;
  color: white;
  padding: 1.3rem 2.8rem;
  border-radius: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.line {
  width: 100%;
  border-top: 1px solid #8a8a8f80;
}
.row {
  display: flex;
  margin: 0px auto;
  width: 60vw;
  max-width: 25rem;
  justify-content: space-between;
  margin-top: 4rem;
}
.icon {
  width: 4rem;
  cursor: pointer;
}
@media (max-width: 43rem) {
  .title {
    font-size: 4.7vw;
  }
  .subtitle {
    font-size: 3.3vw;
    margin-top: 2vw;
  }
  .button {
    margin-top: 6vw;
    margin-bottom: 12vw;
    font-size: 2.5vw;
    padding: 2.5vw 5.5vw;
    border-radius: 2.5vw;
  }
  .row {
    margin-top: 8vw;
  }
}
